* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 22, 36);
    color: rgb(242, 245, 247);
    font-family: 'product sans';
}

nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    height: 80px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color:white;
}

nav ul li a{
    text-decoration: none;
    color:white;
}



.left {
    font-size: 1.5rem;
}

.welcome {
    font-weight: 800;
    font-size: 65px;
    line-height: 72px;
    width: max-content;
    max-width: 100%;
    background: linear-gradient(121.57deg, rgb(255, 255, 255) 18.77%, rgba(255, 255, 255, 0.66) 60.15%) text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 16px;
    padding: 58px 0px 16px;
}

.content {
    max-width: 800px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 3.6rem;
    color: rgba(255, 255, 255, 0.5);
}

.right_section {
    /* width: 80%; Remove this line */
    margin: 50px 0;
    display: flex; /* Added */
    justify-content: flex-end; /* Added */
    align-items: center; /* Added */
    flex: 1; /* Added */
}

.right_section img {
    max-width: 100%; 
    height: auto; 
}

main hr{
    border:0;
    background:#9c97f1;
    height:1.2px;
    margin:40px 84px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    color:black;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
}